/FirstProgram/nbproject/private/
/FirstProgram/build/
/SystemTime/nbproject/private/
/SystemTime/build/
/SystemLanguage/nbproject/private/
/SystemLanguage/build/
/ScreenResolution/nbproject/private/
/ScreenResolution/build/