/FirstProgram/nbproject/private/
/FirstProgram/build/
/SystemTime/nbproject/private/
/SystemTime/build/
/SystemLanguage/nbproject/private/
/SystemLanguage/build/
/ScreenResolution/nbproject/private/
/ScreenResolution/build/
/HelloWorldSwing/nbproject/private/
/HelloWorldSwing/build/
/HelloWorldJavaFX/nbproject/private/
/HelloWorldJavaFX/build/
/HelloWorldJavaFX/dist/
/HelloWorldSwing/dist/
/PrimalTypes/nbproject/private/
/PrimalTypes/build/
/SwingSum/nbproject/private/
/SwingSum/build/
/Agecalculator/nbproject/private/
/Agecalculator/build/
/ArithmeticOperators/nbproject/private/
/ArithmeticOperators/build/
/SwingOpearators/nbproject/private/
/SwingOpearators/build/